/* .contenedor {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cabecera {
  border: 1px solid #ccc;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cabecera>.imagen>img {
  width: 200px;
  height: 300px;
}

.cabecera>.labelsPrueba,
.cabecera>.infoPrueba {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenido,
.footer {
  border: 1px solid #ccc;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 40px;
}

.contenido {
  margin-top: 40px;
  margin-bottom: 40px;
}

.area {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.materia {
  margin-left: 40px;
}

.nombreArea,
.nombreMateria,
.preguntas {
  text-align: left;
}

.nombreMateria {
  margin-bottom: 40px;
}

.preguntas {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px dashed #ccc;
  padding: 20px;
}

ul {
  list-style: none;
}

.pregunta {
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nombrePregunta {
  margin-bottom: 40px;
} */